.cm-header,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-header);
  font-weight: 500;
}

.cm-header-1,
.workspace-leaf-content[data-type=markdown] h1 {
  color: var(--text-title-h1);
  font-variant: common-ligatures small-caps;
}

blockquote .cm-header-1,
blockquote h1 {
  color: var(--text-title-h2);
  font-variant: common-ligatures;
}

.cm-header-2,
.workspace-leaf-content[data-type=markdown] h2 {
  color: var(--text-title-h2);
}

.cm-header-3,
.workspace-leaf-content[data-type=markdown] h3 {
  color: var(--text-title-h3);
}

.cm-header-4,
.workspace-leaf-content[data-type=markdown] h4 {
  color: var(--text-title-h4);
}

.cm-header-5,
.workspace-leaf-content[data-type=markdown] h5 {
  color: var(--text-title-h5);
}

.cm-header-6,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h6 {
  color: var(--text-title-h6);
}

.markdown-preview-view h1:before,
.markdown-preview-view h2:before,
.markdown-preview-view h3:before,
.markdown-preview-view h4:before,
.markdown-preview-view h5:before,
.markdown-preview-view h6:before {
  content: "\00a7\00a0";
  font-size: .6em;
}

.workspace-leaf-content[data-type=markdown] .markdown-preview-view h1 code,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h2 code,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h3 code,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h4 code,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h5 code,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h6 code {
  font-weight: normal;
  font-size: 75%;
}

.cm-s-obsidian .cm-inline-code.cm-header {
  font-weight: normal;
  font-size: 90%;
}

.workspace-leaf-content[data-type=markdown] .markdown-preview-view h1 a.tag,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h2 a.tag,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h3 a.tag,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h4 a.tag,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h5 a.tag,
.workspace-leaf-content[data-type=markdown] .markdown-preview-view h6 a.tag {
  font-weight: normal;
  font-size: 65%;
  font-variant: common-ligatures;
}

.cm-s-obsidian .cm-header.cm-hashtag {
  font-weight: normal;
  font-size: 90%;
  font-variant: common-ligatures;
}

.markdown-preview-view h1, 
.markdown-preview-view h2, 
.markdown-preview-view h3, 
.markdown-preview-view h4, 
.markdown-preview-view h5, 
.markdown-preview-view h6 {
  margin: 10px 0 5px 0;
}

