a {
  color: var(--external-link);
}

.cm-s-obsidian span.cm-hmd-internal-link.cm-overlay {
  color: var(--external-link);
  font-weight: 400;
}

.cm-s-obsidian span.cm-formatting-link {
  color: var(--external-link);
  font-weight: 400;
}

.cm-s-obsidian span.cm-url,
.cm-s-obsidian span.cm-formatting-link.cm-link {
  color: var(--external-link-hidden);
}

.cm-s-obsidian span.cm-link,
.cm-s-obsidian span.cm-hmd-internal-link,
.cm-s-obsidian span.cm-formatting.cm-url,
.external-link {
  color: var(--external-link);
}

a:hover {
  color: var(--external-link-hidden);
}

