.internal-embed.is-loaded:not(.image-embed) {
  border: 1px solid black;
  border-radius: 10px;
}

.internal-embed.is-loaded .markdown-embed {
  border: 0px solid black;
  margin: 0;
}

.markdown-embed .markdown-preview-view {
  padding-top: 10px !important;
}