:root {
  --gray-light-5: #fafafa;
  --gray-light-4: #f5f5f5;
  --gray-light-3: #eeeeee;
  --gray-light-2: #e0e0e0;
  --gray-light-1: #bdbdbd;
  --gray: #9e9e9e;
  --gray-dark-1: #757575;
  --gray-dark-2: #616161;
  --gray-dark-3: #424242;
  --gray-dark-4: #212121;
  --gray-dark-5: #1b1b1b;

  /* Overriding Obsidian Variables */
  --default-font: 'Fira Sans', 'Optima', 'Roboto', Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-monospace: 'Fira Code', 'Source Code Pro', monospace;
  --font-tags: Architects Daughter, Helvetica Neue, Helvetica, Arial, sans-serif;
  --font-header: var(--font-tags);
}

.theme-dark {
  --gray-blue: #B0C4DE;

  --bright-1: #8dc0f0;
  --bright-2: #69e0f0;
  --bright-3: #5fedde;
  --bright-4: #81f7bc;
  --bright-5: #b9fb93;
  --bright-6: #f9f871;

  --dark-1: #8cd0f0;
  --dark-2: #84b6e5;
  --dark-3: #8999d3;
  --dark-4: #927cb7;
  --dark-5: #995e94;
  --dark-6: #964069;

  --main-node: var(--dark-3);
  --main-node-hover: var(--dark-4);
  --attachments: var(--bright-4);

  --tags: var(--dark-5);
  --external-link: var(--gray-blue);
  --external-link-hidden: rgba(131, 197, 235, 0.3);

  --main-background: var(--gray-dark-4);
  --secondary-background: var(--gray-dark-5);
  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);

  --text-title-h1: var(--bright-6);
  --text-title-h2: var(--bright-5);
  --text-title-h3: var(--bright-4);
  --text-title-h4: var(--bright-3);
  --text-title-h5: var(--bright-2);
  --text-title-h6: var(--bright-1);

  --accent-1: var(--dark-6);
  --accent-2: var(--dark-5);
  --accent-3: var(--dark-4);
  --accent-4: var(--dark-3);
  --accent-5: var(--dark-2);
  --accent-6: var(--dark-1);

  --text-normal: var(--gray-light-2);
  --text-muted: var(--gray);
  --text-faint: var(--gray-dark-2);

  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);
}

.theme-light {
  --gray-blue: #748b99;

  --bright-1: #3f7dee;
  --bright-2: #cd73df;
  --bright-3: #ff75b4;
  --bright-4: #ff9583;
  --bright-5: #ffc764;
  --bright-6: #f9f871;

  --dark-1: #3f7dee;
  --dark-2: #7171dd;
  --dark-3: #8d65c9;
  --dark-4: #9e59b3;
  --dark-5: #a8509d;
  --dark-6: #ac4988;

  --main-node: var(--dark-3);
  --main-node-hover: var(--dark-4);
  --attachments: var(--bright-4);

  --tags: var(--dark-5);
  --external-link: var(--gray-blue);
  --external-link-hidden: rgba(131, 197, 235, 0.3);

  --main-background: var(--gray-light-5);
  --secondary-background: var(--gray-light-4);

  --background-primary: var(--main-background);
  --background-secondary: var(--secondary-background);

  --background-primary-alt: var(--gray-light-3);
  --background-secondary-alt: var(--gray-light-4);

  --text-title-h1: var(--dark-1);
  --text-title-h2: var(--dark-2);
  --text-title-h3: var(--dark-3);
  --text-title-h4: var(--dark-4);
  --text-title-h5: var(--dark-5);
  --text-title-h6: var(--dark-6);

  --accent-1: var(--dark-6);
  --accent-2: var(--dark-5);
  --accent-3: var(--dark-4);
  --accent-4: var(--dark-3);
  --accent-5: var(--dark-2);
  --accent-6: var(--dark-1);

  --text-normal: var(--gray-dark-3);
  --text-muted: var(--gray-dark-2);
  --text-faint: var(--gray);

  --text-accent: var(--main-node);
  --text-accent-hover: var(--main-node-hover);
}
